<div class="row search-filters">
  <div class="input-group col-xs-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 p-0">
    <input type="text" class="form-control" placeholder="Search a word">
    <div class="input-group-append">
      <button class="btn btn-outline-primary" (click)="applySpeechPart()">Set Speechpart</button>
      <button class="btn btn-outline-primary" [disabled]="!categories || !categories.length" (click)="applyCategories()">Set Category</button>
      <button class="btn btn-primary" (click)="applySearch()">Search</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 pb-2">
    <ng-container *ngFor="let category of categories">
                  <span *ngIf="searchState.categories && searchState.categories[category.id]"
                        class="badge badge-success category-badge"
                        [ngStyle]="{'background-color': category.color}">
                    {{category.categoryName}}
                    <i class="icon-remove category-remove-button" (click)="removeCategoryFromSearch(category.id)"></i>
                  </span>
    </ng-container>
  </div>
</div>

<form [formGroup]="editWordForm" class="row" *ngIf="words; else emptyTable">
  <div class="col-xs-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 p-0">
    <div class="table-responsive">
      <table class="table">
        <thead class="words-table">
        <tr>
          <th colspan="2"></th>
          <th>Russian</th>
          <th>English</th>
          <th>Dutch</th>
          <th>Part of speech</th>
        </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let word of words; let i = index">
            <tr [ngClass]="{active: editWord.id === word.id}">
              <td>
                <i [hidden]="editWord.id === word.id" class="icon-trash delete-button" (click)="deleteWordByKey(word.id)"></i>
                <i [hidden]="editWord.id !== word.id" class="icon-remove cancel-button" (click)="leaveEditMode()"></i>
              </td>
              <td>
                <i [hidden]="editWord.id === word.id" class="icon-edit edit-button" (click)="enterEditMode(word)"></i>
                <i [hidden]="editWord.id !== word.id || editWordForm.valid"
                   class="icon-save save-button disabled"></i>
                <i [hidden]="editWord.id !== word.id || editWordForm.invalid"
                   class="icon-save save-button"
                   (click)="saveEditedWord(i)"></i>
              </td>
              <td>
                <span [hidden]="editWord.id === word.id">{{word.rus}}</span>
                <input [hidden]="editWord.id !== word.id"
                       class="form-control form-control-sm"
                       type="text"
                       formControlName="rus"
                       [(ngModel)]="editWord.rus">
              </td>
              <td>
                <span [hidden]="editWord.id === word.id">{{word.eng}}</span>
                <input [hidden]="editWord.id !== word.id"
                       class="form-control form-control-sm"
                       type="text"
                       formControlName="eng"
                       [(ngModel)]="editWord.eng">
              </td>
              <td>
                <span [hidden]="editWord.id === word.id">{{word.ned}}</span>
                <input [hidden]="editWord.id !== word.id"
                       class="form-control form-control-sm"
                       type="text"
                       formControlName="ned"
                       [(ngModel)]="editWord.ned">
              </td>
              <td>
              <span [hidden]="editWord.id === word.id"
                    class="badge badge-primary">{{word.part}}</span>
                <select [hidden]="editWord.id !== word.id"
                        class="form-control form-control-sm"
                        formControlName="part"
                        [(ngModel)]="editWord.part">
                  <option *ngFor="let part of partsOfSpeech" [value]="part">{{part}}</option>
                </select>
              </td>
            </tr>
            <tr [ngClass]="{active: editWord.id === word.id}">
              <td>
                <i class="icon-plus save-button" (click)="open('addCategories', word, i)"></i>
              </td>
              <td colspan="5">
                <ng-container *ngFor="let category of categories">
                  <span *ngIf="word.categories && word.categories[category.id]"
                        class="badge badge-success category-badge"
                        [ngStyle]="{'background-color': category.color}">
                    {{category.categoryName}}
                    <i [hidden]="editWord.id !== word.id" class="icon-remove category-remove-button" (click)="removeCategoryFromWord(word.id, category.id, i)"></i>
                  </span>
                </ng-container>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</form>


<app-paginator *ngIf="pagination.totalPages > 1"
               [currentPage]="pagination.currentPage"
               [totalPages]="pagination.totalPages"
               (refreshCurrentPage)="refreshRequest($event)"></app-paginator>

<ng-template #emptyTable>
  <p class="text-muted text-centered">{{loadingInProgress ? 'Loading...' : 'Looks like you haven\'t added any words yet'}}</p>
</ng-template>
