@import '~global.scss';

.words-table {
  font-size: 0.6em;
}
.delete-button {
  color: $danger;
  cursor: pointer;
}
.edit-button {
  color: $primary;
  cursor: pointer;
}
.cancel-button {
  color: $danger;
  cursor: pointer;
}
.save-button {
  color: $success;
  cursor: pointer;
  &.disabled {
    color: $text-muted;
  }
}

.table {
  .btn-only-col {
    width: 30px;
  }
}
