@import '~global.scss';

.words-table {
  font-size: 0.6em;
}
.delete-button {
  color: $danger;
  cursor: pointer;
}
.edit-button {
  color: $primary;
  cursor: pointer;
}
.listen-button {
  color: $primary;
  cursor: pointer;
}
.cancel-button {
  color: $danger;
  cursor: pointer;
}
.save-button {
  color: $success;
  cursor: pointer;
  &.disabled {
    color: $text-muted;
  }
}
.category-remove-button {
  cursor: pointer;
}

.text-centered {
  margin: 40px 0;
  text-align: center;
}

.table {
  tr.active {
    background-color: honeydew;
  }
  .category-badge {
    margin-right: 10px;
  }
}
.search-filters {
  margin: 20px 0;
}
