<div class="container">
  <div class="row">
    <div class="categories-container col-md-8 offset-md-2 col-sm-10 offset-sm-1">
      <h4>Manage word categories</h4>
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <input type="text" class="form-control" #filterValue (keyup)="0" placeholder="Filter">
          </div>
          <span *ngFor="let category of categories | searchByObjKeys : filterValue.value : ['categoryName']; let i = index"
                [ngStyle]="{'background-color': category.color}"
                class="badge badge-success category-badge-big">
                {{category.categoryName}}
                <app-custom-colorpicker [colors]="colors" [selectedColor]="category.color" (transferColor)="repaintCategory(category.id, $event)"></app-custom-colorpicker>
                <i class="icon-trash category-delete-button" (click)="removeCategory(category.id)"></i>
          </span>
          <p class="text-muted" *ngIf="!categories.length">{{loadingInProgress ? 'Loading...' : 'Not a single category has been added yet'}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <form [formGroup]="addCategoryForm"
          (ngSubmit)="saveNewCategory()"
          class="add-word-form col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
      <h4>Add new category</h4>
      <div class="form-group">
        <label for="categoryName">Category Name</label>
        <input type="text"
               class="form-control"
               id="categoryName"
               formControlName="categoryName">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!addCategoryForm.valid">Add category</button>
    </form>
  </div>
</div>


