<ul class="ul-style-reset paginator">
  <li [ngClass]="{'hide' : first}"
      class="paginator-edge-btn"
      (click)="changePage(currentPage - 1)">
    <a>Prev</a>
  </li>
  <li *ngFor="let page of pagesArray | slice: sliceBtnsFrom : sliceBtnsTo"
      (click)="changePage(page)"
      class="paginator-btn"
      [ngClass]="{'active': page === currentPage}"><a>{{page}}</a></li>
  <li [ngClass]="{'hide' : last}"
      class="paginator-edge-btn"
      (click)="changePage(currentPage + 1)">
    <a>Next</a>
  </li>
</ul>
