.check-word-form {
  padding: 20px;
}
.checkbox-wrapper {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
.statistics-wrapper, .button-wrapper {
  margin: 20px 0;
}
.button-wrapper {
  display: flex;
  justify-content: space-between;
}
