<div class="container">
  <div class="row">
    <form [formGroup]="checkWordForm"
          class="check-word-form col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
      <h4>Test your knowledge</h4>
      <div class="form-group">
        <label for="russianWord">Russian</label>
        <input type="text"
               class="form-control"
               id="russianWord"
               [ngClass]="{'is-invalid': checkDone && !errorStatus.rus, 'is-valid': checkDone && errorStatus.rus}"
               formControlName="rus">
      </div>
      <div class="form-group">
        <label for="englishWord">English</label>
        <input type="text"
               class="form-control"
               id="englishWord"
               [ngClass]="{'is-invalid': checkDone && !errorStatus.eng, 'is-valid': checkDone && errorStatus.eng}"
               formControlName="eng">
      </div>
      <div class="form-group">
        <label for="dutchWord">Dutch</label>
        <input type="text"
               class="form-control"
               id="dutchWord"
               [ngClass]="{'is-invalid': checkDone && !errorStatus.ned, 'is-valid': checkDone && errorStatus.ned}"
               formControlName="ned">
      </div>
      <!--<div class="form-group">-->
        <!--<label>Part of speech</label>-->
        <!--<select class="form-control app-select"-->
                <!--formControlName="part">-->
          <!--<option *ngFor="let part of partsOfSpeech" [value]="part">{{part}}</option>-->
        <!--</select>-->
      <!--</div>-->
      <div class="checkbox-wrapper">
        <input id="rusControl"
               type="checkbox"
               [ngModelOptions]="{standalone: true}"
               [(ngModel)]="checkFilter.rus">
        <label for="rusControl" class="checkbox-label">Russian</label>
        <input id="engControl"
               type="checkbox"
               [ngModelOptions]="{standalone: true}"
               [(ngModel)]="checkFilter.eng">
        <label for="engControl" class="checkbox-label">English</label>
        <input id="nedControl"
               type="checkbox"
               [ngModelOptions]="{standalone: true}"
               [(ngModel)]="checkFilter.ned">
        <label for="nedControl" class="checkbox-label">Dutch</label>
      </div>
      <div class="button-wrapper">
        <button class="btn btn-sm btn-primary"
                type="button"
                (click)="getRandomWord()">Get word</button>
        <button class="btn btn-sm btn-primary"
                type="button"
                [disabled]="!targetWordIsSet || !checkWordForm.valid"
                (click)="checkRandomWord()">Check</button>
        <button class="btn btn-sm btn-primary"
                type="button"
                [disabled]="!targetWordIsSet"
                (click)="getTheAnswer()">Give up</button>
      </div>
      <div class="statistics-wrapper">
        <h5>Statistics for current session:</h5>
        <span class="badge badge-primary">Words tried: {{statistics.wordsGenerated}}</span>
        <span class="badge badge-info">Attempts: {{statistics.attempts}}</span>
        <span class="badge badge-success">Correct answers: {{statistics.rightAnswers}}</span>
        <span class="badge badge-danger">Mistakes: {{statistics.mistakes}}</span>
      </div>
      <div class="button-wrapper">
        <button class="btn btn-sm btn-primary"
                type="button"
                [disabled]="!categories.length"
                (click)="open('setCategories')">Select by categories</button>
      </div>
      <div class="statistics-wrapper" *ngIf="selectedCategoriesIds.length">
        <h5>Active categories:</h5>
        <ng-container *ngFor="let category of categories">
                  <span *ngIf="activeCategoriesMap[category.id]"
                        class="badge badge-success category-badge"
                        [ngStyle]="{'background-color': category.color}">
                    {{category.categoryName}}
                  </span>
        </ng-container>
      </div>
    </form>
  </div>
</div>
