<div class="container">
  <div class="row">
    <form [formGroup]="addWordForm"
          (ngSubmit)="saveNewWord()"
          class="add-word-form col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
      <h4>Add a new word</h4>
      <div class="form-group">
        <label for="addRussianWord">Russian</label>
        <input type="text"
               class="form-control"
               id="addRussianWord"
               formControlName="rus">
      </div>
      <div class="form-group">
        <label for="addEnglishWord">English</label>
        <input type="text"
               class="form-control"
               id="addEnglishWord"
               formControlName="eng">
      </div>
      <div class="form-group">
        <label for="addDutchWord">Dutch</label>
        <input type="text"
               class="form-control"
               id="addDutchWord"
               formControlName="ned">
      </div>

      <div class="form-group">
        <label>Part of speech</label>
        <select class="form-control app-select"
                formControlName="part">
          <option *ngFor="let part of partsOfSpeech" [value]="part">{{part}}</option>
        </select>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!addWordForm.valid">Add word</button>
    </form>
  </div>
  <div class="row">
    <div class="categories-container col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <input type="text" class="form-control" #filterValue (keyup)="0" placeholder="Filter">
          </div>
          <ng-container *ngIf="categories.length">
            <span *ngFor="let category of categories | searchByObjKeys : filterValue.value : ['categoryName']"
                  class="badge badge-success category-badge"
                  [ngStyle]="{'background-color': category.color}">
              <input type="checkbox" [ngModel]="categoriesMap[category.id]">
              <label (click)="toggleCategory(category.id)">{{category.categoryName}}</label>
            </span>
          </ng-container>
          <p class="text-muted" *ngIf="!categories.length">{{loadingInProgress ? 'Loading...' : 'Not a single category has been added yet'}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

