<div class="modal-header">
  <h5 class="modal-title">Set categories to look for</h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span>&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="data.categories">
  <span *ngFor="let category of data.categories"
        class="badge badge-success category-badge"
        [ngStyle]="{'background-color': category.color}">
    <input type="checkbox" [ngModel]="categoriesMap[category.id]">
    <label (click)="toggleCategory(category.id)">{{category.categoryName}}</label>
  </span>
  <span *ngIf="!data.categories.length">Create at least one word category first</span>
</div>
<div class="modal-footer"></div>
